<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/edit/{id} (id = ${user.getId()})}" th:object="${user}">
  <label for="username">Enter name: </label>
  <input type="text" th:field="*{username}" id="username"/>
      <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
  <br/>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
      <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
  <br/>
  <label for="password">Enter password: </label>
  <input type="password" th:field="*{password}" id="password"/>
      <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Email Error</div>
  <br/>

  <fieldset>
    <legend>Choose your roles:</legend>
    <input type="checkbox" name = "chosen_roles" value="ROLE_USER" checked>User<br>
    <input type="checkbox" name ="chosen_roles" value="ROLE_ADMIN">Admin<br>
  </fieldset>

  <input type="submit" value="Modify"/>
</form>

<br>

<form th:method="POST" th:action="@{/logout}">
  <input type="submit" value="Logout"/>
</form>


</body>
</html>