<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
        .bs .row > .col, .bs .row > [class ^= "col-"] {
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: #5a6268;
            border: 1px solid #000;
            color: #fff;
        }
    </style>

</head>
<body>

<div class="bs">
    <div class="container mb-5">

        <h3>Колонки одинаковой ширины</h3>
        <div class="row">
            <div class="col">Первая колонка</div>
            <div class="col">Вторая колонка</div>
            <div class="col">Третья колонка</div>
        </div>

        <h3 class="mt-5">Колонки Не одинаковой ширины</h3>
        <div class="row">
            <div class="col">Первая колонка</div>
            <div class="col-6">Вторая колонка</div>
            <div class="col">Третья колонка</div>
        </div>

        <div class="row mt-3">
            <div class="col-4">SideBar</div>
            <div class="col-8">Content</div>
        </div>

        <h3 class="mt-5">Колонки Переменной ширины</h3>
        <div class="row">
            <div class="col">Первая колонка</div>
            <div class="col-6">Вторая колонка</div>
            <div class="col-md-auto">Третья колонка</div>
        </div>

        <h3 class="mt-5">Колонки изменяющиеся при изменение брейкпоинта ширины</h3>
        <div class="row"><!--При работе с бп уровня лардж у нас делится экран 3-6-3, при работе ниже 4-8 и 3 столбец переносится на следующую строку -->
            <div class="col-lg-3 col-sm-4">Первая колонка</div><!--При работе ниже смал все переносятся на новую строку -->
            <div class="col-lg-6 col-sm-8">Вторая колонка</div>
            <div class="col-lg-3">Третья колонка</div>
        </div>

<!--Строка столбцов-->
        <h3 class="mt-5">В строке всегда 2 столбца</h3>
        <div class="row row-cols-2 mt-3"> <!--В каждом ряду должно идти по 2 колонки -->
            <div class="col">Первая колонка</div>
            <div class="col">Вторая колонка</div>
            <div class="col">Третья колонка</div>
        </div>

        <!--На брейкпоинте лардж и выше - 4 колонки в ряд, на медиум -3, смал - 2, ниже - 1-->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-3">
            <div class="col">Первая колонка</div>
            <div class="col">Вторая колонка</div>
            <div class="col">Третья колонка</div>
        </div>

        <h3 class="mt-5">Вложенные сетки</h3>
        <div class="row"> <!--В каждом ряду должно идти по 2 колонки -->
            <div class="col-md-4">SideBar</div>
            <div class="col-md-8">
                <h1>Content</h1>
                <div class="row">
                    <div class="col-md-4">Столбец 1</div>
                    <div class="col-md-4">Столбец 2</div>
                    <div class="col-md-4">Столбец 3</div>
                </div>
            </div>
        </div>



    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>