<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>

<p th:text="${'This is user with id = ' + user.getId() + '.'}"></p>
<br>

<p th:text="${'His username is ' + user.getUsername() + '.'}"></p>
<br>

<p th:text="${'He is ' + user.getAge() + ' years old.'}"></p>


<form th:method="GET" th:action="@{/edit}" th:object="${user}">
  <input type="submit" value="Edit this user"/>
</form>

<br>

<form th:method="DELETE" th:action="@{/delete}" th:object="${user}">
  <input type="submit" value="Delete this user"/>
</form>

</body>
</html>